.addform {
    width: 400px;
    float: right;
    color: #fff;
    margin: -15px 0 0;
}

.addform__item {
    margin: 0 0 20px;
}

.addform__item:last-child {
    margin: 0;
}

.addform__wrapper {
    text-align: right;
    margin: 20px 0 0;
}

.addform__button {
    border-radius: 3px;
    background: #01b19c;
    border: none;
    padding: 7px 30px;
    color: #fff;
    cursor: pointer;
}

.addform__button-disabled {
    opacity: .4;
    cursor: default;
}
